.table-container {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

thead {
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
  z-index: 10;
}

th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #e0e0e0;
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
}

/*tbody tr {
  transition: background-color 0.3s ease;
  cursor: pointer;
}*/



td {
  padding: 8px 10px;
  border-bottom: 1px solid #e0e0e0;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:nth-child(8) {
  font-weight: bold;
}

tr:hover {
  cursor: pointer;
}

.selected {
  background-color: lightblue;
}
